#game_view {
	z-index: 1;
	overflow: hidden;
	position: absolute;
	/*border: 1px solid red;*/
	width: 736px;
	height: 480px;
	background: url('../base/bg.png') -193px -44px;
}

#game_view div {
	position: absolute;
}

#game_view .wall {background-repeat:no-repeat;}
#game_view .wall.texture1 {background-image: url('../base/texture1.png');}
#game_view .wall.texture2 {background-image: url('../base/texture2.png');}
#game_view .wall.texture3 {background-image: url('../base/texture3.png');}
#game_view .wall.texture4 {background-image: url('../base/texture4.png');}
#game_view .wall.texture5 {background-image: url('../base/texture5.png');}

#game_view .wall_1_3 {z-index: 60; width: 219px; height: 240px; top: 80px; left: -193px; background-position: 0px -386px;}
#game_view .wall_1_4 {z-index: 30; width: 102px; height: 143px; top: 112px; left: 26px; background-position: 0px -1012px;}

#game_view .wall_2_1 {z-index: 120; width: 172px; height: 613px; top: -44px; left: -100px; background-position: -248px -866px;}
#game_view .wall_2_2 {z-index: 90; width: 109px; height: 386px; top: 31px; left: 72px; background-position: 0px -626px;}
#game_view .wall_2_3 {z-index: 60; width: 73px; height: 240px; top: 80px; left: 181px; background-position: -438px -386px;}
#game_view .wall_2_4 {z-index: 30; width: 34px; height: 143px; top: 112px; left: 254px; background-position: -214px -1155px;}

#game_view .wall_3_1_2 {z-index: 100; width: 592px; height: 386px; top: 31px; left: -519px; background-position: 0px 0px;}
#game_view .wall_3_1_3 {z-index: 100; width: 592px; height: 386px; top: 31px; left: 72px; background-position: 0px 0px;}
#game_view .wall_3_1_4 {z-index: 100; width: 592px; height: 386px; top: 31px; left: 664px; background-position: 0px 0px;}

#game_view .wall_3_2_2 {z-index: 70; width: 374px; height: 240px; top: 80px; left: -193px; background-position: -218px -626px;}
#game_view .wall_3_2_3 {z-index: 70; width: 374px; height: 240px; top: 80px; left: 181px; background-position: -218px -626px;}
#game_view .wall_3_2_4 {z-index: 70; width: 374px; height: 240px; top: 80px; left: 555px; background-position: -218px -626px;}

#game_view .wall_3_3_1 {z-index: 40; width: 228px; height: 143px; top: 112px; left: -202px; background-position: 0px -1298px;}
#game_view .wall_3_3_2 {z-index: 40; width: 228px; height: 143px; top: 112px; left: 26px; background-position: 0px -1298px;}
#game_view .wall_3_3_3 {z-index: 40; width: 228px; height: 143px; top: 112px; left: 254px; background-position: 0px -1298px;}
#game_view .wall_3_3_4 {z-index: 40; width: 228px; height: 143px; top: 112px; left: 482px; background-position: 0px -1298px;}
#game_view .wall_3_3_5 {z-index: 40; width: 228px; height: 143px; top: 112px; left: 710px; background-position: 0px -1298px;}

#game_view .wall_3_4_1 {z-index: 10; width: 160px; height: 96px; top: 128px; left: -32px; background-position: 0px -1155px;}
#game_view .wall_3_4_2 {z-index: 10; width: 160px; height: 96px; top: 128px; left: 128px; background-position: 0px -1155px;}
#game_view .wall_3_4_3 {z-index: 10; width: 160px; height: 96px; top: 128px; left: 288px; background-position: 0px -1155px;}
#game_view .wall_3_4_4 {z-index: 10; width: 160px; height: 96px; top: 128px; left: 448px; background-position: 0px -1155px;}
#game_view .wall_3_4_5 {z-index: 10; width: 160px; height: 96px; top: 128px; left: 608px; background-position: 0px -1155px;}

#game_view .wall_4_1 {z-index: 120; width: 172px; height: 613px; top: -44px; left: 664px; background-position: -420px -866px;;}
#game_view .wall_4_2 {z-index: 90; width: 109px; height: 386px; top: 31px; left: 555px; background-position: -109px -626px;}
#game_view .wall_4_3 {z-index: 60; width: 73px; height: 240px; top: 80px; left: 482px; background-position: -511px -386px;}
#game_view .wall_4_4 {z-index: 30; width: 34px; height: 143px; top: 112px; left: 448px; background-position: -214px -1012px;}

#game_view .wall_5_3 {z-index: 60; width: 219px; height: 240px; top: 80px; left: 710px; background-position: -219px -386px;}
#game_view .wall_5_4 {z-index: 30; width: 102px; height: 143px; top: 112px; left: 608px; background-position: -102px -1012px;}


#game_view .border {background-repeat: no-repeat;}
#game_view .border.texture1 {background-image: url('../base/texture1.png');}
#game_view .border.texture2 {background-image: url('../base/texture2.png');}
#game_view .border.texture3 {background-image: url('../base/texture3.png');}
#game_view .border.texture4 {background-image: url('../base/texture4.png');}
#game_view .border.texture5 {background-image: url('../base/texture5.png');}

#game_view .border_1_4 {z-index: 20; width: 7px; height: 143px; top: 112px; left: 19px; background-position: 0px -1298px;}

#game_view .border_2_2 {z-index: 80; width: 16px; height: 386px; top: 31px; left: 56px; background-position: -576px 0px;}
#game_view .border_2_3 {z-index: 50; width: 10px; height: 240px; top: 80px; left: 171px; background-position: -218px -626px;}
#game_view .border_2_4 {z-index: 20; width: 7px; height: 143px; top: 112px; left: 247px; background-position: 0px -1298px;}

#game_view .border_3_1_2 {z-index: 80; width: 16px; height: 386px; top: 31px; left: 72px; background-position: 0px -626px;}
#game_view .border_3_1_4 {z-index: 80; width: 16px; height: 386px; top: 31px; left: 648px; background-position: -202px -626px;}

#game_view .border_3_2_2 {z-index: 50; width: 10px; height: 240px; top: 80px; left: 181px; background-position: -438px -386px;}
#game_view .border_3_2_4 {z-index: 50; width: 10px; height: 240px; top: 80px; left: 545px; background-position: -574px -386px;}

#game_view .border_3_3_1 {z-index: 20; width: 13px; height: 143px; top: 112px; left: 26px; background-position: 0px -1012px;}
#game_view .border_3_3_2 {z-index: 20; width: 7px; height: 143px; top: 112px; left: 254px; background-position: -214px -1155px;}
#game_view .border_3_3_4 {z-index: 20; width: 7px; height: 143px; top: 112px; left: 475px; background-position: -241px -1012px;}
#game_view .border_3_3_5 {z-index: 20; width: 13px; height: 143px; top: 112px; left: 697px; background-position: -190px -1012px;}

#game_view .border_4_2 {z-index: 80; width: 16px; height: 386px; top: 31px; left: 664px; background-position: 0px 0px;}
#game_view .border_4_3 {z-index: 50; width: 10px; height: 240px; top: 80px; left: 555px; background-position: -218px -626px;}
#game_view .border_4_4 {z-index: 20; width: 7px; height: 143px; top: 112px; left: 482px; background-position: 0px -1298px;}

#game_view .border_5_4 {z-index: 20; width: 7px; height: 143px; top: 112px; left: 710px; background-position: 0px -1298px;}